
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4 {
    color: #077a2e;
    text-decoration: underline;
}


body{
    height: 100vh;
    width: 100%;
    padding:0;
    margin:0;
    background-color: #76efff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bg.jpeg");
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

nav {
    position: relative;
    width: 100%;
    margin-top: 40px;
}



.nav {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    position: relative;
}


ul a {
    text-align: center;
    display: inline-block;
    color: #15572a !important;
    margin: 5px 25px;
    font-size: 16px;
    font-weight: 800;
    text-decoration:none;
}

ul a:hover {
    color: #00a838 !important;
}

.clicked {

    color: #00a838 !important;

}

.unclicked {
    color: #15572a !important;
}
#nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0;
    }

#aboutContent {
    display: none;
}

#resumeContent {
    display: none;
}